*{
    font-family: "Plus Jakarta Sans", sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    /* height:100vh; */
    background-image:linear-gradient(#FFFFFF,#EBDCFF);
    /* background-size:cover; */
}

img{
    width:100%;
}

.btn{
    color:#FFFFFF;
    background-color: #872BFF;
    /* height:50px;
    width:145px; */
    padding:16px 32px;
    border:none;
    border-radius: 30px;
    font-weight:bold;
    font-size:14px;
    margin:0 20px;
    cursor:pointer;
}



/* heading section */
.heading_content{
    text-align:center;
}


.heading_content h4{
    color:#f411cf;
    font-weight:bold;
    font-size:24px;
    letter-spacing:3px;
    margin-bottom:20px;
}
.heading_content h2{
    font-weight: bold;
    font-size:44px;
    margin-bottom:30px;
}



/* banner section */
#banner{
    margin:100px auto 120px;
    /* height: 600px; */
    width:87.5%;
    background-image: url(images/hero-bg.png);
    display:flex;
    border-radius: 40px;
    border: 2px solid #872BFF10;
    padding:20px 30px;
    justify-content: space-between;
    align-items: center;
}

.banner_content{
    width:50%;
}

.banner_content *{
    margin-bottom:20px;
}

.banner_content h1{
    font-weight: bold;
    font-size: 70px;
}

.banner_content h1 span{
    color:#f411cf;
}

.banner_content p{
    font-weight: medium;
    font-size: 18px;
    color:#A8A8A8;
}

.white_btn{
    padding:16px 32px;
    border:2px solid #872BFF;
    border-radius: 30px;
    cursor:pointer;
}

.banner_image{
    width:50%;
}


/* service section */

#service,
#story,
#country,
#review{
    width:87.5%;
    margin: 0 auto 120px;
}

#service_card_container{
    display: flex;
    justify-content: space-between;
    gap:30px;
}
.service_card{
    background-color: #FFFFFF;
    text-align:center;
    border-radius: 30px;
    padding: 100px 60px;
    max-width:350px;
}
.service_card img{
    width:80px;
    margin-bottom:30px;
}
.service_card h2{
    font-weight:semi-bold;
    font-size:28px;
    margin-bottom:20px;
}

.service_card p{
    color:#A8A8A8;
}


/* story section */
.story_card{
    background: white;
    padding:48px;
    border-radius: 24px;
    display:flex;
    justify-content: space-between;
    gap:20px;
}


.story_content{
    width:60%;
}

.story_image{
    width:40%;
}


.story_content img{
    width: 100px;
}

.story_content h2,
.story_content img,
.story_content p {
    margin-bottom: 30px
}



/* country section */
#country_card_container{
    display:flex;
    justify-content: center;
    gap:30px;
    flex-wrap:wrap;
}
#country_card_container h2{
background-color: #FFFFFF;
padding:30px;
border-radius: 16px;
}




/* review section */
.review_box{
    background-color: #FFFFFF;
    padding:30px;
    border-radius:24px;
    margin-top:60px;
}
.review_box .review_footer{
    display: flex;
    margin-top:60px;
    gap:320px;
    justify-content:flex-end;
    align-items: center;
}

.review_box .review_footer .review_footer_content,
.review_box p{
    text-align: center;
    color:#0E0E0E80;
}
.review_box .review_footer .review_footer_content h4{
    color:black;
}



/* footer section */
#footer{
    background-color: #FFFFFF;
    padding:5px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.footer_content{
width: 40%;
text-align: left;
font-size:28px;
}
.footer_images{
    width:30%;
}